.login {
    //width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__textWrapper {
        margin-right: 60px;
    }
    &__title {
        font-size: 60px;
    }
    &__text {
        font-size: 40px;
    }
    &__loginForm {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 25px;
        position: relative;
    }
    &__input {
        display: block !important;
        margin-bottom: 10px !important;
        &:not(:last-child) {
            margin-right: 10px !important;
        }
    }
    &__input_error {
        position: absolute;
        top: 25px + 10px;
        left: 275px;
        width: 100%;
    }
}