.reg {
    //width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://media.discordapp.net/attachments/502148795279081484/975412643361849394/unknown.png");
    background-repeat: no-repeat;
    background-size: 100%;
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__textWrapper {
        margin-right: 60px;
    }
    &__title {
        font-size: 60px;
        //color: #ffffff;
        //text-shadow: red 0 0 2px;
        margin-bottom: 20px;
    }
    &__text {
        font-size: 40px;
    }
    &__regForm {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 25px;
        position: relative;
        background-color: #E9E9E9;
    }
    &__reg_password {
        display: flex;
    }
    &__input {
        display: block !important;
        margin-bottom: 10px !important;
        &:not(:last-child) {
            margin-right: 10px !important;
        }
    }
    &__password_error {
        top: 90px;
    }
    &__username_error {
        top: 148px;
    }
    &__buttonCreateAccount {
        border-radius: 10px;
        font-size: 20px;
        border: 1px solid #000;
        background-color: transparent;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}