@import "./src/utils/adaptiv-value";

.header {
    &__list {
        color: #1976d2;
        padding: 15px;
        li {
            &:not(:last-child) {
                @include adaptiv-value("margin-right", 20, 14, 1)
            }
            a {
                color: inherit;
            }
        }
    }
}